In [26]:
import re
import spacy
import fitz
import pandas as pd

nlp = spacy.load('model_job')

In [27]:
def extract_text(filePath, remove_line=False):
    with fitz.open(filePath) as doc:
        finaltext = ""
        for page in doc:
            text = page.get_text()
            text = text.replace("\n"," ")
            text = text.replace("[^a-zA-Z0-9]", " ");
            text = re.sub('\W+',' ', text)
            text = re.sub('[^A-Za-z0-9]',' ', text)
            finaltext += text

        if remove_line:
            finaltext = text = re.sub('\s', " ", text)

    return finaltext

def extract_job(text, nlp):
    doc = nlp(text)

    job = set()

    for a in doc.ents:
        job.add(str(a).lower())

    return job

In [30]:
df = pd.read_csv('sample/data.csv')

df

,Email,key,Nama Peserta,Project,MD,MI,MS,MC,LD,LI,...,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77
0,ariefwijayakusuma96@gmail.com,NaN,Arief Wijaya Kusuma,Hiring Batch 1 1,6,3,2,8,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,atkamliaa@gmail.com,NaN,Atikah Amalia,Hiring Batch 1 2,7,3,2,6,4,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,deri45anggraini@gmail.com,NaN,Deri Firma Anggraini,Hiring Batch 1 2,8,2,3,7,4,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,elisabethda1994@gmail.com,NaN,Elisabeth Dwi Anggraeni,Hiring Batch 1 2,8,3,2,5,4,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,jordyrevindra@gmail.com,NaN,Jordy Revindra Priana,Hiring Batch 1 2,5,4,3,7,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,davidacroos@gmail.com,NaN,David Pratama,Hiring Batch 5 1,10,2,3,4,9,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,deapandhita@gmail.com,NaN,Regina Dea Pandhita Putri,Hiring Batch 5 1,6,3,4,6,5,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,dhiaulfa.thufaila@gmail.com,NaN,Dhiaulfa Thufaila,Hiring Batch 5 1,5,2,0,9,4,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,dwidanaribrahim@gmail.com,NaN,DWI DANAR IBRAHIM,Hiring Batch 5 1,9,3,3,4,5,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,fernandoprtm@gmail.com,NaN,Fernando Prataka Romadhan,Hiring Batch 5 1,4,1,2,9,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df = df.loc[:, 'Email':'hasil_rekomendasi']
df = df.drop('Project', 1)
df['key'] = df['key'].astype('str')
df.index += 1
df.drop(101, 0)

C:\Users\sakur\AppData\Local\Temp\ipykernel_9620\2001212430.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop('Project', 1)

C:\Users\sakur\AppData\Local\Temp\ipykernel_9620\2001212430.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop(101, 0)

,Email,key,Nama Peserta,MD,MI,MS,MC,LD,LI,LS,...,KERJASAMA,KETERAMPILAN_INTERPERSONAL,LOGIKA_BERPIKIR,MOTIVASI_BERPRESTASI,ORIENTASI_HASIL,PENYELESAIAN_MASALAH,SISTEMATIKA_KERJA,pil_jabatan,prosen_kecocokan,hasil_rekomendasi
1,ariefwijayakusuma96@gmail.com,nan,Arief Wijaya Kusuma,6,3,2,8,5,5,6,...,2,2,4,3,3,4,3,standar,92%,Disarankan
2,atkamliaa@gmail.com,nan,Atikah Amalia,7,3,2,6,4,5,5,...,3,2,2,3,2,3,2,standar,79%,Dipertimbangkan
3,deri45anggraini@gmail.com,nan,Deri Firma Anggraini,8,2,3,7,4,4,5,...,3,2,5,3,3,3,3,standar,95%,Disarankan
4,elisabethda1994@gmail.com,nan,Elisabeth Dwi Anggraeni,8,3,2,5,4,5,6,...,3,2,5,3,3,4,3,standar,95%,Disarankan
5,jordyrevindra@gmail.com,nan,Jordy Revindra Priana,5,4,3,7,5,5,5,...,3,3,2,2,2,3,3,standar,85%,Disarankan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,adzkiaaulia@gmail.com,nan,Aulia Adzkia Fauzi,7,2,2,6,5,6,4,...,2,2,4,3,4,4,3,standar,92%,Disarankan
97,davidacroos@gmail.com,nan,David Pratama,10,2,3,4,9,6,4,...,3,3,3,3,3,4,2,standar,95%,Disarankan
98,deapandhita@gmail.com,nan,Regina Dea Pandhita Putri,6,3,4,6,5,6,6,...,3,2,3,3,3,3,3,standar,95%,Disarankan
99,dhiaulfa.thufaila@gmail.com,nan,Dhiaulfa Thufaila,5,2,0,9,4,6,4,...,2,2,2,3,3,4,3,standar,87%,Disarankan
100,dwidanaribrahim@gmail.com,nan,DWI DANAR IBRAHIM,9,3,3,4,5,4,8,...,2,3,4,2,3,3,3,standar,92%,Disarankan

In [32]:
for i, row in df.iterrows():
    text = extract_text('sample/analysis/{}.pdf'.format(i))
    job = extract_job(text, nlp)
    text = " "

    for skill in job:
        text += skill + " "

    df.at[i, 'key'] = text

df.head()

C:\Users\sakur\AppData\Local\Programs\Python\Python39\lib\site-packages\torch\autocast_mode.py:162: UserWarning: User provided device_type of 'cuda', but CUDA is not available. Disabling
  warnings.warn('User provided device_type of \'cuda\', but CUDA is not available. Disabling')

FileNotFoundError: no such file: 'sample/analysis/101.pdf'

In [34]:
df = df.drop([22, 31, 58, 65, 68, 80, 101], 0)

C:\Users\sakur\AppData\Local\Temp\ipykernel_9620\3876201396.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop([22, 31, 58, 65, 68, 80, 101], 0)

In [37]:
df.to_csv('train.csv')

In [11]:
disc = ['Nama Peserta', 'key', 'MD', 'MI', 'MS', 'MC', 'LD', 'LS', 'LC', 'CD', 'CI', 'CS', 'CC', 'Grafik1', 'Grafik2', 'Grafik3', 'Hasil']
gtq = ['Nama Peserta', 'key', 'GTQ1', 'GTQ2', 'GTQ3', 'GTQ4', 'GTQ5', 'Average GTQ']
ss = ['Nama Peserta', 'key', 'SS1', 'SS2', 'SS3', 'SS4', 'Jumlah', 'IQ']
work = ['Nama Peserta', 'key', 'N', 'G', 'A', 'L', 'P', 'I', 'T', 'V', 'X', 'S', 'B', 'O', 'R', 'D', 'C', 'Z', 'E', 'K', 'F', 'W', 'DAYA_ANALISA', 'FLEXIBILITAS', 'KEMAMPUAN_MEMIMPIN', 'KEMAMPUAN_NUMERIKAL', 'KEMAMPUAN_PERENCANAAN', 'KEMAMPUAN_VERBAL', 'KERJASAMA', 'KETERAMPILAN_INTERPERSONAL', 'LOGIKA_BERPIKIR', 'MOTIVASI_BERPRESTASI', 'ORIENTASI_HASIL', 'PENYELESAIAN_MASALAH', 'SISTEMATIKA_KERJA', 'pil_jabatan', 'prosen_kecocokan', 'hasil_rekomendasi']

df_disc = df.loc[:, disc]
df_gtq = df.loc[:, gtq]
df_ss = df.loc[:, ss]
df_work = df.loc[:, work]

In [12]:
with pd.ExcelWriter('data.xlsx') as writer:
    df_disc.to_excel(writer, sheet_name='DISC')
    df_gtq.to_excel(writer, sheet_name='GTQ')
    df_ss.to_excel(writer, sheet_name='SS')
    df_work.to_excel(writer, sheet_name='WORK')